@page
@model HojaDeVida.Views.Home.AnalisisModel
@{
}
<section class="card">
    <h3>Análisis</h3>
    <ul>
        <li>Análisis de requerimientos funcionales y no funcionales</li>
        <li>Identificación de casos de uso  y escenarios de negocio</li>
        <li>Documentació téçnica y análisis de procesos con herramientas como Draw.io o Lucidchart</li>
    </ul>
</section>