@page
@model HojaDeVida.Views.Home.DiseñoModel
@{
}
<section class="card">
    <h3>Diseño</h3>
    <ul>
        <li>Manejo basico de <strong>Figma</strong> </li>
        <li>Diseño de interfaces (UI) y experiencia de usuario (UX)</li>
        <li>Prototipo de aplicaciones web</li>
        <li>Diseño responsivo con CSS</li>
    </ul>
</section>