@page
@model HojaDeVida.Views.Home.DiseñoModel
@{
}
<section class="card">
    <h3>Diseño</h3>
    <ul>
        <li>Manejo basico de <strong>Figma</strong> </li>
        <li>Diseño de interfaces (UI) y experiencia de usuario (UX)</li>
        <li>Prototipo de aplicaciones web</li>
        <li>Diseño responsivo con CSS</li>
    </ul>
</section>

<section class="card">
    <h3>Proyectos</h3>
    <div class="projects-grid">
        <div class="project-card">
            <img src="" alt="Proyecto 1">
            <h4> </h4>
            <p> </p>
        </div>
        <div class="project-card">
            <img src="" alt="Proyecto 2">
            <h4> </h4>
            <p>  </p>
        </div>
    </div>
</section>