@page
@model HojaDeVida.Views.Home.HabilidadesModel
@{
}
<section class="card">
    <h3>Habilidades Técnicas</h3>
    <ul>
        <li>Lenguajes: JavaScript, Java, HTML, CSS, TypeScript, C#, HTML5, CSS3, SQL</li>
        <li>Frameworks / Herramientas: Git, GitHub, VS Code, Eclipse</li>
        <li>Diseño de Software: Patrones como MVC</li>
        <li>Metodologías Ágiles: Scrum</li>
        <li>Otros: Notion, Excel, Trello, Jira</li>
    </ul>
</section>