@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <header class="header">
        <img src="\Images\paula.png" alt="Foto de Paula" asp-append-version="true" class="profile-image" />
        <h1 class="display-4">Paula Michell Garcia Valencia</h1>
        <h2>Estudiante de Análisis y Desarrollo de Software</h2>
    </header>

        <section class="card">
            <h3>Habilidades Blandas</h3>
            <ul>
                <li>Organización y gestión del tiempo</li>
                <li>Comunicación efectiva</li>
                <li>Pensamiento analítico</li>
                <li>Trabajo en equipo</li>
                <li>Actitud proactiva</li>
            </ul>
        </section>
</div>