@page
@model HojaDeVida.Views.Home.PerfilModel
@{
}


<section class="card about-section">
    <div class="about-grid">
        <div>
            <img src="~/Images/sobremi.jpg" alt="Foto Paula" class="about-image" />
        </div>
        <div>
            <h3>Sobre mí</h3>
            <p>
                Estudiante de Tecnología en Análisis y Desarrollo de Software (SENA), con pensamiento lógico y capacidad para trabajar en equipos interdisciplinarios. Conocimientos en Java, JavaScript, TypeScript, HTML, CSS, Git y metodologías ágiles como Scrum.
            </p>
            <p><strong>Email:</strong> michellgarciagarcia85@gmail.com</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/paula85Garcia" target="_blank">github.com/paula85Garcia</a></p>
        </div>
    </div>
</section>

