@page
@model HojaDeVida.Views.Home.PerfilModel
@{
}


<div class="container">
    <header class="header">
        <h1 class="display-4">Paula Michell Garcia Valencia</h1>
        <h2>Estudiante de Análisis y Desarrollo de Software</h2>
    </header>
    </div>
    <main class="content">
        <section class="card">
            <h3>Contacto</h3>
            <p><strong>Teléfono:</strong> 3058267039</p>
            <p><strong>Email:</strong> michellgarciagarcia85@gmail.com</p>
            <p><strong>Dirección:</strong> Ahitamara MZ2 Csa 2 Piso 1, Armenia, Quindío</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/paula85Garcia" target="_blank">github.com/paula85Garcia</a></p>
        </section>

        <section class="card">
            <h3>Sobre mí</h3>
            <p>
                Estudiante de Tecnología en Análisis y Desarrollo de Software (SENA), con formación integral, pensamiento lógico y capacidad para trabajar en equipos interdisciplinarios. Conocimientos en Java, JavaScript, TypeScript, HTML, CSS, Git y metodologías ágiles como Scrum. Apasionada por el aprendizaje continuo y el desarrollo de soluciones eficientes.
            </p>
        </section>
        </main>
