@{
    ViewData["Title"] = "Referencias";
}
<h1>@ViewData["Title"]</h1>

<section class="card">
    <ul>
        <li><strong>Ginna Castañeda</strong> - 3132333715</li>
        <li><strong>Elver Garcia</strong> - 302 8294792</li>
    </ul>
</section>
